[submodule "map-coloring"]
	path = map-coloring
	url = https://github.com/dwave-examples/map-coloring.git
[submodule "antenna-selection"]
	path = antenna-selection
	url = https://github.com/dwave-examples/antenna-selection.git
[submodule "satellite-placement"]
	path = satellite-placement
	url = https://github.com/dwave-examples/satellite-placement.git
[submodule "graph-partitioning"]
	path = graph-partitioning
	url = https://github.com/dwave-examples/graph-partitioning.git
[submodule "job-shop-scheduling"]
	path = job-shop-scheduling
	url = https://github.com/dwave-examples/job-shop-scheduling.git
[submodule "maximum-cut"]
	path = maximum-cut
	url = https://github.com/dwave-examples/maximum-cut.git
[submodule "maze"]
	path = maze
	url = https://github.com/dwave-examples/maze.git
[submodule "mutual-information-feature-selection"]
	path = mutual-information-feature-selection
	url = https://github.com/dwave-examples/mutual-information-feature-selection.git
[submodule "pipelines"]
	path = pipelines
	url = https://github.com/dwave-examples/pipelines.git
[submodule "qboost"]
	path = qboost
	url = https://github.com/dwave-examples/qboost.git
[submodule "sudoku"]
	path = sudoku
	url = https://github.com/dwave-examples/sudoku.git
[submodule "factoring"]
	path = factoring
	url = https://github.com/dwave-examples/factoring.git
[submodule "circuit-fault-diagnosis"]
	path = circuit-fault-diagnosis
	url = https://github.com/dwave-examples/circuit-fault-diagnosis.git
[submodule "structural-imbalance"]
	path = structural-imbalance
	url = https://github.com/dwave-examples/structural-imbalance.git
